body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  background-color: black;
  color: white;
  display: inline-flex;
  align-items: center;
  width: calc(100% - 20px);
  height: 60px;
  padding: 0 10px;
}

.menu {
  margin-left: auto;
}

.app-logo {
  font-size: 32px;
}

.menu > button {
  background-color: cadetblue;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  color: white;
}

.main-content {
  background-color: rgb(247, 247, 247);
  height: 100vh;
}

.score-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding-left: 4rem;
  background-color: black;
  color: white;
  width: 20rem;
  height: 8rem;
  font-size: 40px;
  border-radius: 0.6rem;
}

#score {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  width: 50%;
  height: 100%;
  margin-left: auto;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
