body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  background-color: black;
  color: white;
  display: inline-flex;
  align-items: center;
  width: calc(100% - 20px);
  height: 60px;
  padding: 0 10px;
}

.menu {
  margin-left: auto;
}

.app-logo {
  font-size: 32px;
}

.menu > button {
  background-color: cadetblue;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(245, 241, 241);
  height: 100vh;
}

.target-box {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  height: 18rem;
  width: 90%;
  box-shadow: 0 2px 10px 1px #cccccc;
  border-radius: 0.6rem;
}

.target-card {
  margin: 10px;
  box-shadow: 0 2px 10px 1px #cccccc;
  border-radius: 0.4rem;
  width: 8rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.target-card.active {
  width: 10rem;
  height: 12rem;
  font-size: 28px;
  box-shadow: 0 2px 10px 10px #8f8f8f;
}

.target-card.correct {
  box-shadow: 0 1px 10px 1px #169716;
}

.target-card.wrong {
  box-shadow: 0 1px 10px 1px #ff5959;
}

.target-card.timeout {
  box-shadow: 0 1px 10px 1px #ffae00;
}
.key-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 90%;
}

.key-card {
  border: 5px;
  width: 100px;
  height: 150px;
  background-color: white;
  margin-left: auto;
  justify-content: center;
  box-shadow: 0 2px 10px 1px #cccccc;
  border-radius: 0.6rem;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}

.key-card > .header {
  background-color: black;
  color: white;
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
}

.key-card > .content {
  background-color: white;
  color: back;
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}

.data-display {
  width: 100%;
  justify-content: center;
  margin-top: 4rem;
  display: inline-flex;
}

.score-box {
  background-color: black;
  width: 320px;
  height: 100px;
  border-radius: 0.6rem;
  color: white;
  font-size: 40px;
  display: inline-flex;
  align-items: center;
  padding-left: 40px;
  justify-content: center;
  box-shadow: 0 2px 10px 1px #cccccc;
}

#score {
  background-color: #bb346c;
  height: 100px;
  display: inline-flex;
  align-items: center;
  width: 50%;
  margin-left: auto;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  justify-content: center;
}

#timer {
  width: 320px;
  height: 100px;
  background-color: white;
  border-radius: 0.6rem;
  margin-left: 2rem;
  box-shadow: 0 2px 10px 1px #cccccc;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
}
